workflows/Workflow 1 – Alert Intake.json
{
  "name": "Workflow 1 – Alert Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/prod/alerts/intake",
        "options": {
          "noResponseBody": true,
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        96
      ],
      "id": "eaddf198-44f8-4632-8b03-93e677d5e2cb",
      "name": "PROD – Alertmanager Intake",
      "webhookId": "db9adb75-ac74-4064-a255-9d1a180bb39a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4d3a1c73-fc91-42de-a5e6-a7bb12008496",
              "leftValue": "={{ !!$json.body.alerts?.[0]?.labels?.alertname }}\n",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "firing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "4889a08b-8671-428d-97d0-72579db4d02b",
      "name": "Validate Alert"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc4b53cb-9d42-4e78-a362-06df409b26b3",
              "name": "incident_type",
              "value": "={{ $json.body.alerts[0].labels.alertname }}",
              "type": "string"
            },
            {
              "id": "b9fea08b-34f1-43d7-8374-d8f572485e74",
              "name": "=service",
              "value": "={{ $json.body.alerts[0].labels.service || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "d11b9276-d4d1-4807-99a5-b225666f56aa",
              "name": "severity",
              "value": "={{ $json.body.alerts[0].labels.severity || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "b5cc9eac-00db-4982-bdf7-e072bb063bad",
              "name": "timestamp",
              "value": "={{ $json.body.alerts[0].startsAt }}",
              "type": "string"
            },
            {
              "id": "1e3951e3-3a0c-431a-b92b-c9eff94e9c93",
              "name": "source",
              "value": "alertmanager",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "627f7bae-6524-4b2c-96e2-bba82cfdc125",
      "name": "Normalize Incident"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/prod/workflow2/input",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"incident_type\": \"{{ $json.incident_type }}\",\n  \"service\": \"{{ $json.service }}\",\n  \"severity\": \"{{ $json.severity }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\",\n  \"source\": \"{{ $json.source }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "4a0db22b-2f09-419a-b724-8c939d4f4c26",
      "name": "Forward Incident"
    }
  ],
  "pinData": {},
  "connections": {
    "PROD – Alertmanager Intake": {
      "main": [
        [
          {
            "node": "Validate Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Alert": {
      "main": [
        [
          {
            "node": "Normalize Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Incident": {
      "main": [
        [
          {
            "node": "Forward Incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5ba22840-3198-4029-8cc5-6cecd2de5973",
  "meta": {
    "instanceId": "550c9b25708f97d5ede5d8bc17a0f9f166bd90e8652782284824d451446c7bbc"
  },
  "id": "FVSeQJdr2QLkojW30mBk-",
  "tags": []
}