workflows/workflow 5 - WhatsApp DockerAgent.json
{
  "name": "Workflow 5 - WhatsApp DockerAgent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/whatsapp/messages",
        "options": {
          "noResponseBody": true,
          "responseCode": { "values": {} }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "aa000001-0001-0001-0001-000000000001",
      "name": "WhatsApp Webhook",
      "webhookId": "aa000001-0001-0001-0001-000000000002"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "true",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-02",
              "leftValue": "={{ $json.body.sender }}",
              "rightValue": "21655861588@s.whatsapp.net",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [220, 0],
      "id": "aa000002-0002-0002-0002-000000000002",
      "name": "Filter Incoming Messages"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-01",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation || $json.body.data.message?.extendedTextMessage?.text || '' }}",
              "type": "string"
            },
            {
              "id": "set-02",
              "name": "instance",
              "value": "={{ $json.body.data.owner }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, -80],
      "id": "aa000003-0003-0003-0003-000000000003",
      "name": "Extract Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docker-agent:8002/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"21655861588\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [660, -80],
      "id": "aa000004-0004-0004-0004-000000000004",
      "name": "Call DockerAgent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/message/sendText/{{ $node['Extract Data'].json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey", "value": "BE55B4A0-E4FE-4A74-AB1E-8DB2977454CF" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"21655861588\",\n  \"textMessage\": {\n    \"text\": \"{{ $json.reply }}{{ $json.next_question ? '\\n\\n' + $json.next_question : '' }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, -80],
      "id": "aa000005-0005-0005-0005-000000000005",
      "name": "Send WhatsApp Reply"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [{ "node": "Filter Incoming Messages", "type": "main", "index": 0 }]
      ]
    },
    "Filter Incoming Messages": {
      "main": [
        [{ "node": "Extract Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Data": {
      "main": [
        [{ "node": "Call DockerAgent", "type": "main", "index": 0 }]
      ]
    },
    "Call DockerAgent": {
      "main": [
        [{ "node": "Send WhatsApp Reply", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "550c9b25708f97d5ede5d8bc17a0f9f166bd90e8652782284824d451446c7bbc"
  },
  "tags": []
}
