workflows/workflow 4-execute SF 2.json
{
  "name": "workflow 4-execute SF 2",
  "nodes": [
    {
      "parameters": {
        "path": "sl2-approval",
        "options": {
          "responseCode": {
            "values": {}
          },
          "responseData": "={   \"status\": \"received\",   \"message\": \"Approval decision received\" }"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        64
      ],
      "id": "e51837ca-1220-4806-90b2-c92851e19f9b",
      "name": "Webhook",
      "webhookId": "cc0a2443-4304-41cb-ab85-44e92f0f7cc1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b45a519-75a7-486f-aef1-5977009e8218",
              "name": "decision_id",
              "value": "={{ ($json.query.decision_id || '').toString().replace(/^=/, '') }}",
              "type": "string"
            },
            {
              "id": "c3ba338e-c93c-4a99-915e-a1023399b53e",
              "name": "incident_key",
              "value": "={{ ($json.query.incident_key || '').toString().replace(/^=/, '') }}",
              "type": "string"
            },
            {
              "id": "853e2788-7064-4b6d-a054-1dc3b44866a7",
              "name": "action",
              "value": "={{ ($json.query.action || '').toString().replace(/^=/, '') }}",
              "type": "string"
            },
            {
              "id": "acac3db5-0792-4ed8-9e84-4e02fda56e16",
              "name": "safety_level",
              "value": "={{ ($json.query.safety_level || '').toString().replace(/^=/, '') }}",
              "type": "string"
            },
            {
              "id": "32ed4eea-b417-446a-ac2b-0fa458e12afa",
              "name": "confidence",
              "value": "={{ ($json.query.confidence || '').toString().replace(/^=/, '') }}",
              "type": "string"
            },
            {
              "id": "7638d5cb-ba7b-4689-8ab4-4c1ba172edef",
              "name": "approval_result",
              "value": "={{ ($json.query.result || '').toString().replace(/^=/, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        64
      ],
      "id": "107da45a-1021-4d7b-ba2a-bd42c736d8d3",
      "name": "structure data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e938a1e1-6afb-40f4-b682-a6dbcac97232",
              "leftValue": "={{ $json.approval_result }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        64
      ],
      "id": "3c40fe56-c402-4c09-982d-ba3f759de9c3",
      "name": "approval result"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://action-executor:8001/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"decision_id\": \"{{ $json.decision_id }}\",\n  \"action\": \"{{ $json.action }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "9474bb1b-43a6-4c75-9b29-6e3b476408b5",
      "name": "Auto_Execution"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://decision-engine:8000/execution-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "incident_key",
              "value": "={{ $node[\"structure data\"].json.incident_key }}"
            },
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "confidence",
              "value": "={{ $node[\"structure data\"].json.confidence }}"
            },
            {
              "name": "safety_level",
              "value": "={{ $node[\"structure data\"].json.safety_level }}"
            },
            {
              "name": "execution_status",
              "value": "={{ $json.status === 'success' ? 'success' : 'failed' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        32
      ],
      "id": "1f71622e-5679-4fe1-a350-64a3247ef78c",
      "name": "Report_Execution_Result"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#alerts",
          "mode": "name"
        },
        "text": "=🚨 *Automated Action Executed*\n\n• *Action:* {{ $node[\"Auto_Execution\"].json.action }}\n• *Safety Level:* {{ $node[\"structure data\"].json.safety_level }}\n• *Confidence:* {{ $node[\"structure data\"].json.confidence }}\n• *Status:* {{ $node[\"Auto_Execution\"].json.status }}\n• *Decision ID:* {{ $node[\"structure data\"].json.decision_id }}\n• *Incident Key:* {{ $node[\"structure data\"].json.incident_key }}\n\n🤖 Executed automatically by *n8n Workflow 3*\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        480,
        64
      ],
      "id": "2e34c452-a8c7-489a-9c96-097773396cd4",
      "name": "Send-Result",
      "webhookId": "f114225c-62f0-43df-be28-7a61e50e8714",
      "retryOnFail": false,
      "credentials": {
        "slackApi": {
          "id": "731AsEBCeBbQ6caf",
          "name": "Slack account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#rejected-action",
          "mode": "name"
        },
        "text": "=🚨rejected action 🚨                        \naction :{{ $json.action }}\n🆔 Decision ID: {{ $json.decision_id }}\n📌 Incident Key: {{ $json.incident_key }}\n📊 Confidence: {{ $json.confidence }}\n🛡️ Safety Level: {{ $json.safety_level }}\n⏱️ Decided At:{{ $json.decided_at }}\n\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -128,
        240
      ],
      "id": "fd1ebb19-9f17-4cc7-8532-609f383c5cc1",
      "name": "Send a message",
      "webhookId": "e0649720-904d-48f3-a15e-cefefd5a61a0",
      "credentials": {
        "slackApi": {
          "id": "731AsEBCeBbQ6caf",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "structure data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "structure data": {
      "main": [
        [
          {
            "node": "approval result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "approval result": {
      "main": [
        [
          {
            "node": "Auto_Execution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto_Execution": {
      "main": [
        [
          {
            "node": "Report_Execution_Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report_Execution_Result": {
      "main": [
        [
          {
            "node": "Send-Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cbe14fe4-dfbe-49a2-9b81-8f6e386d5ff2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "550c9b25708f97d5ede5d8bc17a0f9f166bd90e8652782284824d451446c7bbc"
  },
  "id": "ssxJ23zfYR8n_hkTUO1Do",
  "tags": []
}